<div class="card">
  <div class="card-body">
    <form class="form-signin" [formGroup]="form" (submit)="onSubmit()">
  
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      </div>

      <div class="form-label-group">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
      </div>
  
      <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
      </div>
  
      <button class="btn btn-lg btn-primary btn-block mt-4 mb-4" type="submit">Sign in</button>

      <div class="text-hint text-center">
        <p>Try login with user - <b>user@gmail.com</b>, and password - <b>password</b></p>
      </div>
    </form>
  </div>
</div>